/bin
/build
/dist
/models
.classpath
.directory
/doc
/plugins
/exspace.txt
/.apt_generated
*.pdf
*.cb
*.synctex.gz
*.log
*.cb2
*.toc
*.aux
*.tex.bak
**/.DS_Store

/smac-output

# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
